<!--
=========================================================
* Paper Dashboard 2 - v2.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/paper-dashboard-2
* Copyright 2020 Creative Tim (https://www.creative-tim.com)

Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!doctype html>
<html lang="en" ng-app="gestorSensores">

	<head ng-include="'shared/head.html'">
	</head>

	<body class="">
		<div class="wrapper ">
			<div ng-include="'shared/sidebar.html'"></div>
			<div class="main-panel" style="min-height: 100vh;">
				<div ng-include="'shared/topbar.html'" include-replace></div>
				
				<div class="content">
					<div data-ng-view></div>
				</div>
				
				<div ng-include="'shared/footer.html'" include-replace></div>
			</div>		
		</div>
			
	    <!-- Libraries -->
		<script src="/app/libraries/jquery.min.js"></script>
		<script src="/app/libraries/popper.min.js"></script>
		<script src="/app/libraries/bootstrap.min.js"></script>
		<script src="/app/libraries/angular.min.js"></script>
		<script src="/app/libraries/angular-route.js"></script>
		<script src="/app/libraries/angular-resource.min.js"></script>
		<script src="/app/libraries/paper-dashboard.min.js?v=2.1.1"></script>
		<script src="/app/libraries/angular-animate.min.js"></script>		
		
		<!--  Plugins -->
		<script src="/app/libraries/plugins/chartjs.min.js"></script>
		<script src="/app/libraries/plugins/perfect-scrollbar.jquery.min.js"></script>
	  	<script src="/app/libraries/plugins/jquery.bootstrap-wizard.js"></script>
		<script src="/app/libraries/plugins/jquery.validate.min.js"></script>
		<script src="/app/libraries/plugins/bootstrap-selectpicker.js"></script>
		<script src="/app/libraries/plugins/sweetalert2.min.js"></script>
		
		<!-- Application module config (SPA routes, dependencies injection) -->
		<script type="text/javascript" src="/app/app.js"></script>
		<!-- Directives -->
		<script type="text/javascript" src="/app/directives/directives.js"></script>
		
		<!-- Controllers -->
		<script type="text/javascript" src="/app/controllers/SensorsController.js"></script>
		<script type="text/javascript" src="/app/controllers/InstallSensorController.js"></script>
		
		<!-- Services -->
		<script type="text/javascript" src="/app/services/SensorsService.js"></script>
		<script type="text/javascript" src="/app/services/utils/RestService.js"></script>
		<script type="text/javascript" src="/app/services/utils/SweetAlertService.js"></script>
		
		
		<!--  Entities -->
	    <script type="text/javascript" src="/app/entities/Transductor.js"></script>
		<script type="text/javascript" src="/app/entities/TransductorInterface.js"></script>
		<script type="text/javascript" src="/app/entities/Sensor.js"></script>
		<script type="text/javascript" src="/app/entities/PropertyMeasured.js"></script>
		<script type="text/javascript" src="/app/entities/SensorValues.js"></script>
		<script type="text/javascript" src="/app/entities/SensorValue.js"></script>

	</body>
</html>
