<div class="card-footer">
	<div class="pull-right">
		<input type='button' class='btn btn-next btn-fill btn-rose btn-wd'
			name='next' value='Next' /> 
			<input type='button' ng-disabled="!InstallTransductorController.allRequiredIsSet()" ng-click="InstallTransductorController.installAndRedirect()"
			class='btn btn-finish btn-fill btn-rose btn-wd' name='finish'
			value='Finish' />
	</div>
	<div class="pull-left">
		<input type='button'
			class='btn btn-previous btn-fill btn-default btn-wd' name='previous'
			value='Previous' />
	</div>
	<div class="clearfix"></div>
</div>
