<div class="card-header text-center">
	<h3 class="card-title">Install {{InstallTransductorController.transductor.type}}</h3>
	<h5 class="description">This Wizard will guide you to install a
		new {{InstallTransductorController.transductor.type}}</h5>
	<div class="wizard-navigation">
		<ul>
			<li class="nav-item"><a class="nav-link active href-not-active"
				href="#basic" data-toggle="tab" role="tab" aria-controls="info"
				aria-selected="true"> <i class="nc-icon nc-alert-circle-i"></i>
					Basic
			</a></li>
			<li class="nav-item"><a class="nav-link href-not-active"
				href="#interface" data-toggle="tab" role="tab"
				aria-controls="interface" aria-selected="true"> <i
					class="nc-icon nc-chat-33"></i> Iface
			</a></li>
			<li class="nav-item"><a class="nav-link href-not-active"
				href="#configuration" data-toggle="tab" role="tab"
				aria-controls="settings" aria-selected="true"> <i
					class="nc-icon nc-settings"></i> Config
			</a></li>
		</ul>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {

		var validatorRules = {
			rules: {
				transductorNameInput : {
					required : true,
					maxlength : 30
				},
				interfaceInput : {
					required : true
				},
				propertySelect : {
					required : true
				}
			},
			messages: {
				propertySelect: {
	                required: "Select at least one property"
	            },
	            interfaceInput: {
	                required: "Select at least one interface"
	            }
				
			},
			errorPlacement: function(error, element) {
	            error.appendTo( element.parent("div") );
	        },
			highlight: function(element) {
				$(element).closest('.input-group').removeClass('has-success').addClass('has-danger');
			},
			success: function(element) {
				$(element).closest('.input-group').removeClass('has-danger').addClass('has-success');
			}
			
		}
		wizard.initWizard(validatorRules);
		setTimeout(function() {
			$('.card.card-wizard').addClass('active');
			$(".selectpicker").selectpicker('refresh');
		}, 200);

		

	});
</script>