
	<ul class="nav" set-link-active-on-route-change>
	
          <li class="active">
            <a data-toggle="collapse" data-target="#devicesList">
              <i class="nc-icon nc-layout-11"></i>
              <p>Transductores <b class="caret"></b></p>
            </a>
            <div class="collapse" id="devicesList">
              <ul class="nav">
                <li class="active">
                  <a href="#/sensors">
                    <span class="sidebar-mini-icon">SE</span>
                    <span class="sidebar-normal">Sensores </span>
                  </a>
                </li>
                <li>
                  <a href="#/actuators">
                    <span class="sidebar-mini-icon">AC</span>
                    <span class="sidebar-normal">Actuadores</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a href="#/sensorRules">
              <i class="nc-icon nc-paper"></i>
              <p>Reglas</p>
            </a>
          </li>
          <li>
            <a data-toggle="collapse" data-target="#setupList">
              <i class="nc-icon nc-settings"></i>
              <p>Instalar<b class="caret"></b></p>
            </a>
            <div class="collapse" id="setupList">
              <ul class="nav">
                <li>
                  <a href="#/installSensor">
                    <span class="sidebar-mini-icon">IS</span>
                    <span class="sidebar-normal">Instalar sensor</span>
                  </a>
                </li>
                <li>
                  <a href="#/installActuator">
                    <span class="sidebar-mini-icon">IA</span>
                    <span class="sidebar-normal">Instalar Actuator</span>
                  </a>
                </li>
                <li>
                  <a href="#/sensorRuleInstallation">
                    <span class="sidebar-mini-icon">SR</span>
                    <span class="sidebar-normal">Instalar regla</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a href="#/systemInformation">
              <i class="nc-icon nc-alert-circle-i"></i>
              <p>Estado</p>
            </a>
          </li>
          <li>
            <a href="#/systemPowerOff">
              <i class="nc-icon nc-button-power"></i>
              <p>Apagar</p>
            </a>
          </li>
        </ul>
